# Python
__pycache__/
*.pyc

# Virtual environment
venv/

# Django database
db.sqlite3

# Media files
media/uploads/*
media/results/*
!media/uploads/.gitkeep
!media/results/.gitkeep

# Environment variables
.env

# macOS
.DS_Store

# Model weights
*.pt